.example{
   
    margin-left: 5%;

  }
  .form-group{
    margin-right: 40%;
  }
  .btn.btn-primary {
   
    margin-left: 5%;
  }
  .material-icons{
    margin-right: 20px;
  }
  .material-icons:hover{
    cursor: pointer;
    color: #ff0011;
  }

table {
  width: 48%;
}
